@import url(https://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|ZCOOL+QingKe+HuangYou);
@import url(https://fontlibrary.org/face/segment7);

html, body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #f9f6f2;
  font-family: "Roboto";
  font-size: 18px; }

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    top: 120px; }

  100% {
    opacity: 0;
    top: 0px; } }
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
    top: 120px; }

  100% {
    opacity: 0;
    top: 0px; } }
@keyframes fadeout {
  0% {
    opacity: 1;
    top: 120px; }

  100% {
    opacity: 0;
    top: 0px; } }
.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  font-family: "Montserrat";
  position: relative;
  display: inline-block;
  background: black;
  padding: 25px 25px;
  font-size: 35px;
  height: 35px;
  line-height: 47px;
  font-weight: 700;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: #f9f6f2;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    animation: fadeout 1000ms linear;
    animation-fill-mode: forwards;
    z-index: 100; }

.score-container:after {
  content: "Score";
  font-family: "Roboto";
  font-style: normal; }

.best-container:after {
  content: "Best";
  font-family: "Roboto";
  font-style: normal; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #f9f6f2;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: #bbada0;
  border-radius: 6px;
  width: 615px;
  height: 615px;
  -ms-touch-action: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #ffffff;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #000000;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 85px;
  height: 85px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: #ff8080;}
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 85px;
  height: 85px;
  line-height: 85px; }  

.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 100px);
  -moz-transform: translate(0px, 100px);
  transform: translate(0px, 100px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 200px);
  -moz-transform: translate(0px, 200px);
  transform: translate(0px, 200px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 300px);
  -moz-transform: translate(0px, 300px);
  transform: translate(0px, 300px); }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 400px);
  -moz-transform: translate(0px, 400px);
  transform: translate(0px, 400px); }
.tile.tile-position-1-6 {
  -webkit-transform: translate(0px, 500px);
  -moz-transform: translate(0px, 500px);
  transform: translate(0px, 500px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(100px, 0px);
  -moz-transform: translate(100px, 0px);
  transform: translate(100px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(100px, 100px);
  -moz-transform: translate(100px, 100px);
  transform: translate(100px, 100px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(100px, 200px);
  -moz-transform: translate(100px, 200px);
  transform: translate(100px, 200px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(100px, 300px);
  -moz-transform: translate(100px, 300px);
  transform: translate(100px, 300px); }
.tile.tile-position-2-5 {
  -webkit-transform: translate(100px, 400px);
  -moz-transform: translate(100px, 400px);
  transform: translate(100px, 400px); }
.tile.tile-position-2-6 {
  -webkit-transform: translate(100px, 500px);
  -moz-transform: translate(100px, 500px);
  transform: translate(100px, 500px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(200px, 0px);
  -moz-transform: translate(200px, 0px);
  transform: translate(200px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(200px, 100px);
  -moz-transform: translate(200px, 100px);
  transform: translate(200px, 100px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(200px, 200px);
  -moz-transform: translate(200px, 200px);
  transform: translate(200px, 200px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(200px, 300px);
  -moz-transform: translate(200px, 300px);
  transform: translate(200px, 300px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(200px, 400px);
  -moz-transform: translate(200px, 400px);
  transform: translate(200px, 400px); }
.tile.tile-position-3-6 {
  -webkit-transform: translate(200px, 500px);
  -moz-transform: translate(200px, 500px);
  transform: translate(200px, 500px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(300px, 0px);
  -moz-transform: translate(300px, 0px);
  transform: translate(300px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(300px, 100px);
  -moz-transform: translate(300px, 100px);
  transform: translate(300px, 100px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(300px, 200px);
  -moz-transform: translate(300px, 200px);
  transform: translate(300px, 200px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(300px, 300px);
  -moz-transform: translate(300px, 300px);
  transform: translate(300px, 300px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(300px, 400px);
  -moz-transform: translate(300px, 400px);
  transform: translate(300px, 400px); }
.tile.tile-position-4-6 {
  -webkit-transform: translate(300px, 500px);
  -moz-transform: translate(300px, 500px);
  transform: translate(300px, 500px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(400px, 0px);
  -moz-transform: translate(400px, 0px);
  transform: translate(400px, 0px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(400px, 100px);
  -moz-transform: translate(400px, 100px);
  transform: translate(400px, 100px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(400px, 200px);
  -moz-transform: translate(400px, 200px);
  transform: translate(400px, 200px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(400px, 300px);
  -moz-transform: translate(400px, 300px);
  transform: translate(400px, 300px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(400px, 400px);
  -moz-transform: translate(400px, 400px);
  transform: translate(400px, 400px); }
.tile.tile-position-5-6 {
  -webkit-transform: translate(400px, 500px);
  -moz-transform: translate(400px, 500px);
  transform: translate(400px, 500px); }  
.tile.tile-position-6-1 {
  -webkit-transform: translate(500px, 0px);
  -moz-transform: translate(500px, 0px);
  transform: translate(500px, 0px); }
.tile.tile-position-6-2 {
  -webkit-transform: translate(500px, 100px);
  -moz-transform: translate(500px, 100px);
  transform: translate(500px, 100px); }
.tile.tile-position-6-3 {
  -webkit-transform: translate(500px, 200px);
  -moz-transform: translate(500px, 200px);
  transform: translate(500px, 200px); }
.tile.tile-position-6-4 {
  -webkit-transform: translate(500px, 300px);
  -moz-transform: translate(500px, 300px);
  transform: translate(500px, 300px); }
.tile.tile-position-6-5 {
  -webkit-transform: translate(500px, 400px);
  -moz-transform: translate(500px, 400px);
  transform: translate(500px, 400px); }
.tile.tile-position-6-6 {
  -webkit-transform: translate(500px, 500px);
  -moz-transform: translate(500px, 500px);
  transform: translate(500px, 500px); }


.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #ffdfdf;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 80px;
    font-family: "ZCOOL QingKe HuangYou"; }
  .tile.tile-1 .tile-inner {
    background: rgb(238, 228, 218);
    color: #776e65; }
  .tile.tile-2 .tile-inner {
    background: rgb(238, 227, 212);
    color: #776e65; }
  .tile.tile-3 .tile-inner {
    background: rgb(237, 225, 206);
    color: #776e65; }
  .tile.tile-5 .tile-inner {
    color: #776e65;
    background: rgb(237, 224, 200); }
  .tile.tile-8 .tile-inner {
    color: #776e65;
    background: rgb(239, 208, 174); }
  .tile.tile-13 .tile-inner {
    color: #776e65;
    background: rgb(240, 193, 147); }
  .tile.tile-21 .tile-inner {
    color: #f9f6f2;
    background: rgb(242, 177, 121); }
  .tile.tile-34 .tile-inner {
    color: #f9f6f2;
    background: rgb(244, 163, 110); }
  .tile.tile-55 .tile-inner {
    color: #f9f6f2;
    background: rgb(245, 149, 99); }
  .tile.tile-89 .tile-inner {
    color: #f9f6f2;
    background: rgb(245, 136, 97); }
  .tile.tile-144 .tile-inner {
    color: #f9f6f2;
    background: rgb(246, 124, 95);
    font-size: 67.3px; }
    @media screen and (max-width: 520px) {
      .tile.tile-144 .tile-inner {font-size: 35.6px; } }
  .tile.tile-233 .tile-inner {
    color: #f9f6f2;
    background: rgb(246, 109, 77);
    font-size: 56.5px; }
    @media screen and (max-width: 520px) {
      .tile.tile-233 .tile-inner {font-size: 29.9px; } }
  .tile.tile-377 .tile-inner {
    color: #f9f6f2;
    background: rgb(246, 94, 59);
    font-size: 67.1px; }
    @media screen and (max-width: 520px) {
      .tile.tile-377 .tile-inner {font-size: 35.5px; } }
  .tile.tile-610 .tile-inner {
    color: #f9f6f2;
    background: rgb(247, 67, 121);
    font-size: 66.4px; }
    @media screen and (max-width: 520px) {
      .tile.tile-610 .tile-inner {font-size: 35.1px; } }
  .tile.tile-987 .tile-inner {
    color: #f9f6f2;
    background: rgb(248, 37, 86);
    font-size: 60.6px; }
    @media screen and (max-width: 520px) {
      .tile.tile-987 .tile-inner {font-size: 32.1px; } }
  .tile.tile-1597 .tile-inner {
    color: #f9f6f2;
    background: rgb(250, 7, 51);
    font-size: 51.1px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1597 .tile-inner {font-size: 27px; } }
  .tile.tile-2584 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 207, 114);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 42px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2584 .tile-inner {font-size: 22.2px; } }
  .tile.tile-4181 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 204, 97);
    font-size: 55.3px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); }
    @media screen and (max-width: 520px) {
      .tile.tile-4181 .tile-inner {font-size: 29.3px; } }
  .tile.tile-6765 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 200, 80);
    font-size: 44.5px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); }
    @media screen and (max-width: 520px) {
      .tile.tile-6765 .tile-inner {font-size: 23.6px; } }
  .tile.tile-10946 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 197, 63);
    font-size: 37.1px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); }
    @media screen and (max-width: 520px) {
      .tile.tile-10946 .tile-inner {font-size: 19.6px; } }
  .tile.tile-17711 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 194, 46);
    font-size: 54.5px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); }
    @media screen and (max-width: 520px) {
      .tile.tile-17711 .tile-inner {font-size: 28.8px; } }
  .tile.tile-28657 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 190, 29);
    font-size: 35.1px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.61538), inset 0 0 0 1px rgba(255, 255, 255, 0.36923); }
    @media screen and (max-width: 520px) {
      .tile.tile-28657 .tile-inner {font-size: 18.6px; } }
  .tile.tile-46368 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 187, 15);
    font-size: 33.7px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.69444), inset 0 0 0 1px rgba(255, 255, 255, 0.41667); }
    @media screen and (max-width: 520px) {
      .tile.tile-46368 .tile-inner {font-size: 17.8px; } }
  .tile.tile-75025 .tile-inner {
    color: #f9f6f2;
    background: rgb(237, 184, 1);
    font-size: 35.2px;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.77778), inset 0 0 0 1px rgba(255, 255, 255, 0.47222); }
    @media screen and (max-width: 520px) {
      .tile.tile-75025 .tile-inner {font-size: 18.6px; } }
  .tile.tile-121393 .tile-inner {
    color: #f9f6f2;
    background: #ff0000;
    font-size: 33.4px;
    box-shadow: 0 0 30px 10px #ffd70033; }
    @media screen and (max-width: 520px) {
      .tile.tile-121393 .tile-inner {font-size: 17.7px; } }
  .tile.tile-196418 .tile-inner {
    color: #776e65;
    background: #ffff00;
    font-size: 33.3px;
    box-shadow: 0 0 36px 12px #ffd70066; }
    @media screen and (max-width: 520px) {
      .tile.tile-196418 .tile-inner {font-size: 17.6px; } }
  .tile.tile-317811 .tile-inner {
    color: #f9f6f2;
    background: #00df00;
    font-size: 38.9px;
    box-shadow: 0 0 42px 14px #ffd70099; }
    @media screen and (max-width: 520px) {
      .tile.tile-317811 .tile-inner {font-size: 20.6px; } }
  .tile.tile-514229 .tile-inner {
    color: #f9f6f2;
    background: #ffffff;
    font-size: 30.4px;
    box-shadow: 0 0 48px 16px #ffd700cc; }
    @media screen and (max-width: 520px) {
      .tile.tile-514229 .tile-inner {font-size: 16.1px; } }
  .tile.tile-832040 .tile-inner {
    color: #776e65;
    background: linear-gradient(to bottom right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    font-size: 28px;
    box-shadow: 0 0 96px 32px #ffd700; }
    @media screen and (max-width: 520px) {
      .tile.tile-832040 .tile-inner {font-size: 14.8px; } }
  .tile.tile-1346269 .tile-inner{font-size: 25.8px;}
  .tile.tile-2178309 .tile-inner{font-size: 26.7px;}
  .tile.tile-3524578 .tile-inner{font-size: 24.9px;}
  .tile.tile-5702887 .tile-inner{font-size: 25.6px;}
  .tile.tile-9227465 .tile-inner{font-size: 24.8px;}
  .tile.tile-14930352 .tile-inner{font-size: 22.4px;}
  .tile.tile-24157817 .tile-inner{font-size: 25.6px;}
  .tile.tile-39088169 .tile-inner{font-size: 22.3px;}
  .tile.tile-63245986 .tile-inner{font-size: 21px;}
  .tile.tile-102334155 .tile-inner{font-size: 20.9px;}
  .tile.tile-165580141 .tile-inner{font-size: 22.1px;}
  .tile.tile-267914296 .tile-inner{font-size: 20.2px;}
  .tile.tile-433494437 .tile-inner{font-size: 19.4px;}
  .tile.tile-701408733 .tile-inner{font-size: 20.9px;}
  .tile.tile-1134903170 .tile-inner{font-size: 20.2px;}
  .tile.tile-1836311903 .tile-inner{font-size: 19.6px;}
  .tile.tile-2971215073 .tile-inner{font-size: 19.6px;}
  .tile.tile-4807526976 .tile-inner{font-size: 17.6px;}
  .tile.tile-7778742049 .tile-inner{font-size: 18.6px;}
  .tile.tile-12586269025 .tile-inner{font-size: 15.9px;}
  .tile.tile-20365011074 .tile-inner{font-size: 17.1px;} /* MAX */
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32; }
@media screen and (max-width: 520px) {
  .tile.tile-1346269 .tile-inner{font-size: 13.6px;}
  .tile.tile-2178309 .tile-inner{font-size: 14.1px;}
  .tile.tile-3524578 .tile-inner{font-size: 13.1px;}
  .tile.tile-5702887 .tile-inner{font-size: 13.6px;}
  .tile.tile-9227465 .tile-inner{font-size: 13.1px;}
  .tile.tile-14930352 .tile-inner{font-size: 11.8px;}
  .tile.tile-24157817 .tile-inner{font-size: 13.5px;}
  .tile.tile-39088169 .tile-inner{font-size: 11.8px;}
  .tile.tile-63245986 .tile-inner{font-size: 11.1px;}
  .tile.tile-102334155 .tile-inner{font-size: 11.1px;}
  .tile.tile-165580141 .tile-inner{font-size: 11.7px;}
  .tile.tile-267914296 .tile-inner{font-size: 10.7px;}
  .tile.tile-433494437 .tile-inner{font-size: 10.2px;}
  .tile.tile-701408733 .tile-inner{font-size: 11.1px;}
  .tile.tile-1134903170 .tile-inner{font-size: 10.7px;}
  .tile.tile-1836311903 .tile-inner{font-size: 10.4px;}
  .tile.tile-2971215073 .tile-inner{font-size: 10.3px;}
  .tile.tile-4807526976 .tile-inner{font-size: 9.3px;}
  .tile.tile-7778742049 .tile-inner{font-size: 9.8px;}
  .tile.tile-12586269025 .tile-inner{font-size: 8.4px;}
  .tile.tile-20365011074 .tile-inner{font-size: 9px;} }
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }
.tile-merged .tile-inner {
  z-index: 20;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }

  .game-container {
    margin-top: 17px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: #bbada0;
    border-radius: 6px;
    width: 315px;
    height: 315px;
    -ms-touch-action: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(255, 0, 0, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 5px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    float: left;
    border-radius: 3px;
    background: #ff8080; }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 45px;
    height: 45px;
    line-height: 45px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 50px);
    -moz-transform: translate(0px, 50px);
    transform: translate(0px, 50px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 150px);
    -moz-transform: translate(0px, 150px);
    transform: translate(0px, 150px); }
  .tile.tile-position-1-5 {
    -webkit-transform: translate(0px, 200px);
    -moz-transform: translate(0px, 200px);
    transform: translate(0px, 200px); }
  .tile.tile-position-1-6 {
    -webkit-transform: translate(0px, 250px);
    -moz-transform: translate(0px, 250px);
    transform: translate(0px, 250px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(50px, 0px);
    -moz-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(50px, 50px);
    -moz-transform: translate(50px, 50px);
    transform: translate(50px, 50px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(50px, 100px);
    -moz-transform: translate(50px, 100px);
    transform: translate(50px, 100px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(50px, 150px);
    -moz-transform: translate(50px, 150px);
    transform: translate(50px, 150px); }
  .tile.tile-position-2-5 {
    -webkit-transform: translate(50px, 200px);
    -moz-transform: translate(50px, 200px);
    transform: translate(50px, 200px); }
  .tile.tile-position-2-6 {
    -webkit-transform: translate(50px, 250px);
    -moz-transform: translate(50px, 250px);
    transform: translate(50px, 250px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(100px, 0px);
    -moz-transform: translate(100px, 0px);
    transform: translate(100px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(100px, 50px);
    -moz-transform: translate(100px, 50px);
    transform: translate(100px, 50px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(100px, 100px);
    -moz-transform: translate(100px, 100px);
    transform: translate(100px, 100px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(100px, 150px);
    -moz-transform: translate(100px, 150px);
    transform: translate(100px, 150px); }
  .tile.tile-position-3-5 {
    -webkit-transform: translate(100px, 200px);
    -moz-transform: translate(100px, 200px);
    transform: translate(100px, 200px); }
  .tile.tile-position-3-6 {
    -webkit-transform: translate(100px, 250px);
    -moz-transform: translate(100px, 250px);
    transform: translate(100px, 250px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(150px, 0px);
    -moz-transform: translate(150px, 0px);
    transform: translate(150px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(150px, 50px);
    -moz-transform: translate(150px, 50px);
    transform: translate(150px, 50px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(150px, 100px);
    -moz-transform: translate(150px, 100px);
    transform: translate(150px, 100px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(150px, 150px);
    -moz-transform: translate(150px, 150px);
    transform: translate(150px, 150px); }
  .tile.tile-position-4-5 {
    -webkit-transform: translate(150px, 200px);
    -moz-transform: translate(150px, 200px);
    transform: translate(150px, 200px); }
  .tile.tile-position-4-6 {
    -webkit-transform: translate(150px, 250px);
    -moz-transform: translate(150px, 250px);
    transform: translate(150px, 250px); }
  .tile.tile-position-5-1 {
    -webkit-transform: translate(200px, 0px);
    -moz-transform: translate(200px, 0px);
    transform: translate(200px, 0px); }
  .tile.tile-position-5-2 {
    -webkit-transform: translate(200px, 50px);
    -moz-transform: translate(200px, 50px);
    transform: translate(200px, 50px); }
  .tile.tile-position-5-3 {
    -webkit-transform: translate(200px, 100px);
    -moz-transform: translate(200px, 100px);
    transform: translate(200px, 100px); }
  .tile.tile-position-5-4 {
    -webkit-transform: translate(200px, 150px);
    -moz-transform: translate(200px, 150px);
    transform: translate(200px, 150px); }
  .tile.tile-position-5-5 {
    -webkit-transform: translate(200px, 200px);
    -moz-transform: translate(200px, 200px);
    transform: translate(200px, 200px); }
  .tile.tile-position-5-6 {
    -webkit-transform: translate(200px, 250px);
    -moz-transform: translate(200px, 250px);
    transform: translate(200px, 250px); }
  .tile.tile-position-6-1 {
    -webkit-transform: translate(250px, 0px);
    -moz-transform: translate(250px, 0px);
    transform: translate(250px, 0px); }
  .tile.tile-position-6-2 {
    -webkit-transform: translate(250px, 50px);
    -moz-transform: translate(250px, 50px);
    transform: translate(250px, 50px); }
  .tile.tile-position-6-3 {
    -webkit-transform: translate(250px, 100px);
    -moz-transform: translate(250px, 100px);
    transform: translate(250px, 100px); }
  .tile.tile-position-6-4 {
    -webkit-transform: translate(250px, 150px);
    -moz-transform: translate(250px, 150px);
    transform: translate(250px, 150px); }
  .tile.tile-position-6-5 {
    -webkit-transform: translate(250px, 200px);
    -moz-transform: translate(250px, 200px);
    transform: translate(250px, 200px); }
  .tile.tile-position-6-6 {
    -webkit-transform: translate(250px, 250px);
    -moz-transform: translate(250px, 250px);
    transform: translate(250px, 250px); }

  .tile .tile-inner {
    font-size: 40px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; }
